*{
	font-family: source sans pro;
}
body{
	width: 80%;
	max-width: 769px;
	margin: 20px auto;
	border: 20px solid #bdc3c7;
	padding: 0px 25px;
}
h3{
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 0.4rem;
	font-weight: 400;
}
h1{
	text-transform: capitalize;
	color: #2c3e50;
	font-weight: black;
}
.indent {
	border: 0px solid #bdc3c7;
	border-left:5px;
	border-color: #bdc3c7;
	border-style: solid;
	padding: 5px;
}
hr{
	border-top: 1px solid rgba(50,50,50,0.1);
}
p{
	font-weight: 400;
}